<!DOCTYPE html>
<html lang=”en”>

<head>
    <title>CCMenu</title>
    <meta name="description" content="CCMenu is a Mac app to display the status of builds on CI/CD servers in the menu bar.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/screen.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />

    <meta property="og:site_name" content="CCMenu">
    <meta property="og:type" content="website">
    <meta property="og:title" content="CCMenu app">
    <meta property="og:description" content="Display the status of builds on CI/CD servers in the Mac's menu bar.">
    <meta property="og:image" content="https://ccmenu.github.io/assets/images/social.png">
    <meta name="twitter:title" content="CCMenu app">
    <meta name="twitter:description" content="Display the status of builds on CI/CD servers in the Mac's menu bar.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:src" content="https://ccmenu.github.io/assets/images/social.png">
</head>

<body>

    {{ content }}

</body>

</html>
